

    @font-face {
        font-family: "UniversalGroteskRemake"; 
        src: url("../public/fonts/universalgroteskremake.eot"); 
        src: url("../public/fonts/universalgroteskremake.eot?#iefix") format("embedded-opentype"),
        url("../public/fonts/universalgroteskremake.woff") format("woff"), 
        url("../public/fonts/universalgroteskremake.ttf") format("truetype"); 
        font-style: normal; 
        font-weight: normal; 
        }